# Dependency directories
node_modules/
materials/
client_app/public/images
client_app/public/videos
.vscode/
# dotenv environment variables file
.env

client_app/build
client_app/package-lock.json
client_app/yarn.lock